/* Write your code here: */

/* Group Selectors */
h1,h2{
    color:blueviolet;
}

/* Child Selectors */
.box>p{
    color:firebrick;
}

/* descendent Selectors */

.box li{
    color:blue;
}

/* chaining Selectors */
li.done{
    color:seagreen;
}